%h3 Edit Collection Name

= form_tag collection_path(@collection), :method => :put do

  = label :collection, :name, 'Title: '
  = text_field :collection, :name
  = "Publication status (checked indicates published): "
  = check_box_tag "is_Published", @collection.isPublished, @collection.isPublished
  %table.alt#freeDocs
    %thead
      %tr
        %th Document Name
        %th Select Documents
    %tbody
      - @curDocs.each do |document|
        %tr
          %td= document.name 
          %td= check_box_tag "documents[#{document.id}]", document, true
      - @freeDocs.each do |document|
        %tr
          %td= document.name 
          %td= check_box_tag "documents[#{document.id}]"
  = submit_tag 'Save Changes'