%h3 Edit Collection Name

= form_tag collection_path(@collection), :method => :put do

  = label :collection, :name, 'Title: '
  = text_field :collection, :name
  %table.alt#freeDocs
    %thead
      %tr
        %th Document Name
        %th Select Documents
    %tbody
      Include:
      - @curDocs.each do |document|
        %tr
          %td= document.name 
          %td= check_box_tag "documents[#{document.id}]", document, true
      - @freeDocs.each do |document|
        %tr
          %td= document.name 
          %td= check_box_tag "documents[#{document.id}]"
  = submit_tag 'Save Changes'