%h3 Create New Collection

= form_tag collections_path, :method => :post do
  
  = 'Title:'
  = text_field :collection, :name
  %br
  = "Publish? "
  = check_box_tag :isPublished
  %br
  %table.alt#freeDocs
    %thead
      %tr
        %th Document Name
        %th Select
    %tbody
      - @freeDocs.each do |document|
        %tr
          %td= document.title 
          %td= check_box_tag "documents[#{document.id}]"
  = label :collection, :tag_list, "Tags: "
  = text_field :collection, :tag_list, { :placeholder => "Tags separated by commas" }
  %BR
  %BR
  = submit_tag 'Save Changes'