%h3 Create New Collection

= form_tag collections_path, :method => :post do
  
  = 'Title:'
  = text_field :collection, :name
  = "Publish Collection "
  = check_box_tag :isPublished
  %br
  %table.alt#freeDocs
    %thead
      %tr
        %th Document Name
        %th Select
    %tbody
      - @freeDocs.each do |document|
        %tr
          %td= document.title 
          %td= check_box_tag "documents[#{document.id}]"
  = submit_tag 'Save Changes'