<center>
%h2 Existing User?
</center>
<center>
%h3 Sign In to Your Account
</center>

%section.feature.6u{:class => "12u$(small)"}
	%img.image.fit{:alt => "", :src => "/assets/login2.jpeg"}/

.button
= link_to 'Login with Twitter', '/auth/twitter'
// = link_to 'Login with Facebook', '/auth/facebook'
.textbox
	%p
	= form_tag loginuser_path(@user), :method => :post do
		= label :user, :email, 'Email or Pen Name'
		%br
		= text_field :permission, :name
		%br
		= label :user, :password, 'Password'
		%br
		= password_field :user, :password 
		%br
		= submit_tag 'Log in'


