%body.landing
	%section#loginbanner
		%h2
		%p
		.login-box
			.box-header
				%h2 Existing User?
				%h3 Sign In To Your Account
			= form_tag loginuser_path(@user), :method => :post do
				= label :user, :email, 'Email or Pen Name'
				%br
				= text_field :permission, :name
				%br
				= label :user, :password, 'Password'
				%br
				= password_field :user, :password, {:type => 'password'} 
				%br
				= submit_tag 'Log in', :class => 'button small'
			.button.small	
				= link_to 'Log in with Twitter', '/auth/twitter'
			%p
			.button.small
				= link_to 'Log in with Facebook', '/auth/facebook'