%body.landing
  %section#banner
    %h2
    %p
  %section#one.wrapper.style2.align-center
    = form_tag published_path, :method => :get, id: "search-form" do
      =label :name, "Search Published Documents"
      %BR
      = text_field :search, params[:search], { :placeholder => "Tags separated by commas" }
      =submit_tag "Search"
    .container
      %header
        %h2 Published Collections
      .row
        %section.feature.6u{:class => "12u$(small)"}
          %img.image.fit{:alt => "", :src => "/assets/library1.jpeg"}/
          .table-wrapper
          %table.alt#collections
            %thead
              %tr
                %th Author
                %th Collection Name
                %th Collection Details
            %tbody
              - @publishedCols.each do |collection|
                %tr
                  %td
                    - if (collection.user_id)
                      = link_to "#{User.find(collection.user_id).penname}", pub_col_path(collection)
                    - else
                      = "No author"
                  %td= collection.name 
                  %td= link_to "More about #{collection.name}", pub_col_path(collection)
    .container
      %header
        %h2 Published Documents
      .row
        %section.feature.6u{:class => "12u$(small)"}
          %img.image.fit{:alt => "", :src => "/assets/library1.jpeg"}/
          .table-wrapper
          %table.alt#documents
            %thead
              %tr
                %th Author
                %th Document Name
                %th Document Details
            %tbody
              - @publishedDocs.each do |document|
                %tr
                  %td
                    - if (document.user_id)
                      = link_to "#{User.find(document.user_id).penname}", user_path(User.find(document.user_id))
                    - else
                      = "No author"
                  %td= document.title 
                  %td= link_to "More about #{document.title}", pub_doc_path(document)
