-# in app/views/published/showDoc.html.haml

%h2 #{@collection.name}
%h3 #{@document.title}
%br

.trix-content
    != @file

%br
%br
= link_to ' Return to collection', pub_col_path(@collection.id)
%br
%br
= link_to ' Return to published works ', published_path
