%h3 #{@collection.name}
%table.alt#documents_with_id
    %thead
        %tr
            %th Document Name
            %th Document Details
    %tbody
        - @docsInCol.each do |document|
            %tr
                %td= document.title 
                %td= link_to "More about #{document.title}", pub_col_doc_path(document)

%br
%br
= render :partial => "sharedPartials/comments", :locals => {:comments => @comments, :map => @map}

%p
- if !@notSignedIn
    = render :partial => "new_col_comment", :locals => {:user => @user, :collection => @collection}
- if @notSignedIn
    =link_to "Log in to comment", '/login'

%br
%br
= link_to 'Return to published works', published_path