-# in app/views/published/showDoc.html.haml

%h3 #{@document.title}

.trix-content
    != @file
%br
%h4 Comments
%br
%table.alt#documents
    %thead
        %tr
            %th Name
            %th Comment
    %tbody
        - @comments.each do |comment|
            %tr
                %td= @map[comment.id] 
                %td= comment.body
%p
- if !@notSignedIn
    = render :partial => "new_comment", :locals => {:user => @user, :document => @document}
- if @notSignedIn
    =link_to "Log in to comment", '/login'


   
%br
%br
= link_to 'Return to published works ', published_path