-# in app/views/published/showDoc.html.haml

%h2 #{@collection.name}
%h3 #{@document.title}
%br

.trix-content
    != @file

%br
= render :partial => "sharedPartials/comments", :locals => {:comments => @comments, :map => @map}
%br
= render :partial => "sharedPartials/likes", :locals => {:likes => @likes, :likesmap => @likesmap}
%p
- if !@notSignedIn
    = render :partial => "new_comment", :locals => {:user => @user, :document => @document}
- if @notSignedIn
    =link_to "Log in in to comment", '/login'
%br
- if !@notSignedIn
    = render :partial => "new_like", :locals => {:user => @user, :document => @document}
- if @notSignedIn
    = link_to "Log in to like", '/login'

%br
%br
= label :document, :tag_list, "Tags: "
- @document.tag_list.each do |tag|
    #{tag},
%BR
%BR
= link_to ' Return to collection', pub_col_path(@collection.id)
%br
%br
= link_to ' Return to published works ', published_path
