-# in app/views/published/showDoc.html.haml

%h3 #{@document.title}
- if (@document.user_id)
    %h5 Author: #{User.find(@document.user_id).penname}
%br

.trix-content
    != @file

%p
.hr
.hr
<h6>
= label :document, :tag_list, "Tags: "
- @document.tag_list.each do |tag|
    #{tag}
    = "," unless tag == @document.tag_list.last
</h6>
%h6 #{@document.impressionist_count} views so far!
%br
= render :partial => "sharedPartials/likes", :locals => {:likes => @likes, :likesmap => @likesmap}
%br
- if !@notSignedIn
    =render :partial => "new_like", :locals => {:user => @user, :document => @document}
- if @notSignedIn
    =link_to "Log in to like", '/login'

.hr
.hr

= render :partial => "sharedPartials/comments", :locals => {:comments => @comments, :map => @map}
%br
- if !@notSignedIn
    = render :partial => "new_comment", :locals => {:user => @user, :document => @document}
- if @notSignedIn
    =link_to "Log in to comment", '/login'

.hr
%br
= link_to 'Return to published works ', published_path