-# in app/views/published/showDoc.html.haml

%h2 #{@collection.name}
%br
%h3 #{@document.title}
%br

.trix-content
    != @file

%br
%h4 Comments
%br
%table.alt#documents
    %thead
        %tr
            %th Name
            %th Comment
    %tbody
        - @comments.each do |comment|
            %tr
                %td= @map[comment.id] 
                %td= comment.body
%br
= link_to ' Return to Collection', pub_col_path(@collection.id)
%br
= link_to ' Return to published works ', published_path
%br
- if !@notSignedIn
    = render :partial => "new_comment", :locals => {:user => @user, :document => @document}
- if @notSignedIn
    =link_to "Login in to Comment", '/login'