-# in app/views/published/showDoc.html.haml

%h3 #{@document.title}

.trix-content
    != @file
%br
= render :partial => "sharedPartials/comments", :locals => {:comments => @comments, :map => @map}
%p
- if !@notSignedIn
    = render :partial => "new_comment", :locals => {:user => @user, :document => @document}
- if @notSignedIn
    =link_to "Log in to comment", '/login'


   
%br
%br
= link_to 'Return to published works ', published_path