-# in app/views/published/showDoc.html.haml

%h3 #{@document.title}
%h6 #{@document.impressionist_count} views so far!

.trix-content
    != @file
%br
= render :partial => "sharedPartials/comments", :locals => {:comments => @comments, :map => @map}
%p
- if !@notSignedIn
    = render :partial => "new_comment", :locals => {:user => @user, :document => @document}
- if @notSignedIn
    =link_to "Log in to comment", '/login'


   
%br
%br
= label :document, :tag_list, "Tags: "
- @document.tag_list.each do |tag|
    #{tag},
%BR
= link_to 'Return to published works ', published_path