%h2 Edit Personal Information

=form_tag user_path(@user), :method => :put do 

    = label :user, :first, 'First Name: '
    = text_field :user, :first
    %br
    = label :user, :last, 'Last Name: '
    = text_field :user, :last
    %br
    = label :user, :penname, 'Pen Name: '
    = text_field :user, :penname
    %br
    = label :user, :email, 'Email: '
    = text_field :user, :email
    %br
    = label :user, :description, 'Describe Yourself! '
    %br
    %br
    = text_area :user, :description, {:size => '50px'}
    %br
    = submit_tag 'Save Changes'