%body.landing
	%section#signupbanner
		%h2
		%p
		.login-box
			.box-header
				%h2 Join Alexandria!
				%h3 Create An Account To Get Started
			= form_tag signup_path(@user), :method => :post do
				= label :user, :first, 'First Name'
				%br
				= text_field :user, :first
				%br
				= label :user, :last, 'Last Name'
				%br
				= text_field :user, :last
				%br
				= label :user, :penname, 'Pen Name'
				%br
				= text_field :user, :penname
				%br
				= label :user, :email, 'Email'
				%br
				= text_field :user, :email
				%br
				= label :user, :password, 'Password'
				%br
				= password_field :user, :password 
				%br
				= label :user, :password_digest, 'Password Confirmation'
				%br
				= password_field :user, :password_digest
				%br
				= submit_tag 'Sign up', :class => 'button small'

