%h2 Profile

%br
%h3 Name
#{@user.first} #{@user.last}

%p

%h3 Pen Name
#{@user.penname}

%p

%h3 About #{@user.penname}
#{@user.description}

%p
-if !session[:user_id].nil?
    -if @user.id == @current.id
        .hr
        .hr
        =link_to 'Edit Profile', edit_user_path(@user)