%body.landing
  %section#one.wrapper.style1.align-center
    .container
      %table
        %tbody
          %tr
            %td
            .button
              =link_to 'New Collection', new_collection_path
            %td
            .button
              =link_to 'New Document', new_document_path
  %section#two.wrapper.style2.align-center
    .container
      %header
        %h2 My Collections
      .row
        %section.feature.6u{:class => "12u$(small)"}
          %img.image.fit{:alt => "", :src => "/assets/library2.jpg"}/
          .table-wrapper
          %table.alt#collections
            %thead
              %tr
                %th Collection Name
                %th Collection Details
                %th Delete?
            %tbody
              - @collections.each do |collection|
                %tr
                  %td= collection.name 
                  %td= link_to "More about #{collection.name}", collection_path(collection)
                  %td= link_to "Delete", collection_path(collection), :method => :delete
    .container
      %header
        %h2 My Documents
      .row
        %section.feature.6u{:class => "12u$(small)"}
          %img.image.fit{:alt => "", :src => "/assets/library2.jpg"}/
          .table-wrapper
          %table.alt#documents
            %thead
              %tr
                %th Document Name
                %th Document Details
                %th Delete?
            %tbody
              - @documents.each do |document|
                %tr
                  %td= document.title 
                  %td= link_to "More about #{document.title}", document_path(document)
                  %td= link_to "Delete", document_path(document), :method => :delete


  
