%body.landing
  %section#banner
    %h2
    %p
  %section#one.wrapper.style1.align-center
    .container
      %table
        %tbody
          %tr
            %td
            .button
              =link_to 'New Collection', new_collection_path
            %td
            .button
              =link_to 'New Document', new_document_path
  %section#two.wrapper.style2.align-center
    .container
      %header
        %h2 My Collections
      .row
        %section.feature.6u{:class => "12u$(small)"}
          %img.image.fit{:alt => "", :src => "/assets/pic02.jpg"}/
          .table-wrapper
          %table.alt#collections
            %thead
              %tr
                %th Collection Name
                %th Collection Details
            %tbody
              - @collections.each do |collection|
                %tr
                  %td= collection.name 
                  %td= link_to "More about #{collection.name}", collection_path(collection)
    .container
      %header
        %h2 My Documents
      .row
        %section.feature.6u{:class => "12u$(small)"}
          %img.image.fit{:alt => "", :src => "/assets/pic02.jpg"}/
          .table-wrapper
          %table.alt#documents
            %thead
              %tr
                %th Document Name
                %th Document Details
            %tbody
              - @docs_without_collection.each do |document|
                %tr
                  %td= document.name 
                  %td= link_to "More about #{document.name}", document_path(document)


  
