%h3 Edit Document

= form_tag document_path(@document), :method => :put do

  = label :document, :title, 'Title: '
  = text_field :document, :title
  = "Publication status (checked indicates published): "
  = check_box_tag "is_Published", @document.isPublished, @document.isPublished
  %p
  input id=body, type=hidden, value=body
  = hidden_field :document, "content", value: @curFile
  %trix-editor{:input => "document_content", :placeholder => "Your text goes here... Happy writing!"}
  /input id=document_body, type=hidden
  /= hidden_field :document, :body
  /%trix-editor{:input => "document_body", :placeholder => "Your text goes here... Happy writing!"}
  %p
  = collection_select(:document, :collection_id, Collection.all || [], :id, :name, include_blank: true, prompt: true)
  %p
  = submit_tag 'Save Changes'
