%h3 Edit Document

= form_tag document_path(@document), :method => :put do
  - if session[:user_id]==@document.user_id  
    <h4>
    = label :document, :title, 'Title: '
    </h4>
    = text_field :document, :title
    %br
    <h5>
    = "Published? "
    = check_box_tag "is_Published", @document.isPublished, @document.isPublished
    </h5>
  - else 
    %h4 #{@document.title}
  = hidden_field :document, "content", value: @curFile
  %trix-editor{:input => "document_content", :placeholder => "Your text goes here... Happy writing!"}
  %p
  - if session[:user_id]==@document.user_id 
    %h6 Select a collection for this document (optional).
    = collection_select(:document, :collection_id, Collection.where(:user_id => session[:user_id]) || [], :id, :name, prompt: true)
  %br
  <h6>
  = label :document, :tag_list, "Tags: "
  </h6>
  = text_field :document, :tag_list, { :placeholder => "Tags separated by commas", :size => "35px" }
  %br
  %br
  - if session[:user_id]==@document.user_id 
    %h6 Attach files
    = render :partial => "new_attachment", :locals => {:user => @user, :document => @document}
  = render :partial => "attachments", :locals => {:attachments => @attachments}
  = submit_tag 'Save Changes'