%h3 Edit Document

= form_tag document_path(@document), :method => :put do
  - if session[:user_id]==@document.user_id  
    = label :document, :title, 'Title: '
    = text_field :document, :title
    %br
    = "Published? "
    = check_box_tag "is_Published", @document.isPublished, @document.isPublished
    %br
  - else 
    %h4 #{@document.title}
  %br
  /input id=body, type=hidden, value=body
  = hidden_field :document, "content", value: @curFile
  %trix-editor{:input => "document_content", :placeholder => "Your text goes here... Happy writing!"}
  /input id=document_body, type=hidden
  /= hidden_field :document, :body
  /%trix-editor{:input => "document_body", :placeholder => "Your text goes here... Happy writing!"}
  %p
  - if session[:user_id]==@document.user_id 
    Select a collection for this document (optional).
    %BR
    = collection_select(:document, :collection_id, Collection.all || [], :id, :name, prompt: true)
  %p
  = label :document, :tag_list, "Tags: "
  = text_field :document, :tag_list, { :placeholder => "Tags separated by commas" }
  %BR
  %BR
  = submit_tag 'Save Changes'
  
