-#  This file is app/views/documents/index.html.haml
%h1 All Documents

%table#documents
  %thead
    %tr
      %th Document Title
      %th Doc Location
      %th Doc Id
      %th Collection ID
      %th Publication Status
      %th More
  %tbody
    - @documents.each do |document|
      %tr
        %td= document.name
        %td= document.document
        %td= document.id
        %td= document.collection_id
        %td= document.isPublished
        %td= link_to "More about #{document.name}", document_path(document)
        
    -# add to end of index.html.haml

= link_to 'Add new document', new_document_path