%h3 Create New Document

= form_tag documents_path, :method => :post do
  
  = label :document, :title, 'Title: '
  = text_field :document, :title
  = "Publish Document "
  = check_box_tag :isPublished
  %br
  = hidden_field :document, "content"
  %trix-editor{:input => "document_content", :placeholder => "Your text goes here... Happy writing!"}
  %p
  Select a collection for this document (optional).
  %BR
  = collection_select(:document, :collection_id, Collection.all || [], :id, :name, prompt: true) 
  %p
  = label :document, :tag_list,  'Tags: '
  = text_field :document, :tag_list, { :placeholder => "Tags separated by commas" }
  %BR
  %BR
  = submit_tag 'Save Changes'
