%h3 Create New Document

= form_tag documents_path, :method => :post do
  
  = label :document, :name, 'Title: '
  = text_field :document, :name
  %p
  = hidden_field :document, :body
  %trix-editor{:input => "document_body", :placeholder => "Your text goes here... Happy writing!"}
  %p
  = submit_tag 'Save Changes'
