-# in app/views/documents/show.html.haml

%h3 #{@document.title}


<em>Publication Status: #{@pubStatus}</em>
%br


%p



.trix-content
    != @file
%br
%br

%h6 #{@document.impressionist_count} views so far!
= label :document, :tag_list, "Tags: "
- @document.tag_list.each do |tag|
    #{tag},
%BR
- if @perm=="owner" 
    %p
    = link_to 'Edit info ', edit_document_path(@document)
    %br
    %br
    = link_to ' Return to My Work ', home_index_path
    %br
    %br
    = link_to ' Delete ', document_path(@document), :method => :delete
    %br
    %br
    
    %h4 <center>Share Document</center>
    %br
    = form_tag share_document_path(@document), :method => :post do
        = 'Share with: '
        = text_field :permission, :name 
        %br
        = 'Access level: '
        = select(:permission, :access, {"Revise" => "revise", "Comment" => "comment"})
        %br
        = submit_tag 'Share'
    %br
    - if !@curPermissions.empty?
        %h4 <center>Shared With...</center>
        %br
        %table.alt#documents
            %thead
                %tr
                    %th Pen Name
                    %th Access Level
                    %th Revoke Permissions
            %tbody
                - @curPermissions.each do |curPer|
                    %tr
                        %td= link_to "#{@mapAccess[curPer.id]}", user_path(User.find_by(penname: @mapAccess[curPer.id]).id)
                        %td= curPer.access
                        %td= link_to 'Remove Access', remove_share_path(curPer.id), :method => :delete

- else 
    - if @perm=="revise"
        %p
        = link_to 'Edit info ', edit_document_path(@document)
        %br
        %br
    = link_to 'Return to shared documents ', shared_path
    %br
    %br
-if !@likes.empty?
    =render :partial => "sharedPartials/likes", :locals => {:comments => @comments, :likesmap => @likesmap}
    %br
=render :partial => "published/new_like", :locals => {:document => @document}
%br
- if !@comments.empty?
    = render :partial => "sharedPartials/comments", :locals => {:comments => @comments, :map => @map}
    %br
= render :partial => "published/new_comment", :locals => {:document => @document}    
%br
