-# in app/views/documents/show.html.haml

%h3 #{@document.name}

Publication Status: #{@pubStatus}
%br

.trix-content
    != @file


   
%br
= link_to 'Edit info ', edit_document_path(@document)
%br
= link_to ' Return home ', root_path
%br
= link_to ' Delete ', document_path(@document), :method => :delete
