-# in app/views/documents/show.html.haml

%h3 #{@document.title}

<em>Publication Status: #{@pubStatus}</em>

%p

.trix-content
    != @file


   
%p
= link_to 'Edit info ', edit_document_path(@document)
%br
%br
= link_to ' Return to My Work ', home_index_path
%br
%br
= link_to ' Delete ', document_path(@document), :method => :delete
